.header__lang-link{
    
    padding: 0;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    display: flex;
    color: #FFFFFF;
    
}

@media screen and (max-width: 320px) {

    /* стили для малого смартфона */
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}