.place__title {
    text-align: left;
    grid-row: 1/2;
    grid-column: 1/2;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    color: white;
    margin: 0 auto 0 16px;
}

@media screen and (min-width: 501px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
        margin: 0;
       
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 106%;
    }
}