.places__title {
    text-align: left;
    /*max-width: 460px;*/
    grid-row: 1/2;
    grid-column: 1/2;

}

@media screen and (max-width: 320px) {
    .places__title {
        grid-row: 1/2;
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
        /* identical to box height, or 109% */
        margin: 0 16px;
    }


}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .places__title {
        grid-row: 1/2;
        grid-column: 1/2;
        font-weight: 900;
        font-size: 42px;
        line-height: 110%;
    }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .places__title {
        grid-row: 1/2;
        grid-column: 1/2;
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;
    }
}


@media screen and (min-width: 1025px)  {
    .places__title {
        grid-row: 1/2;
        grid-column: 1/2;
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;
    }
}