.photo-grid {
    max-width: 1184px;
    min-height: 670px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .photo-grid {
        margin: 64px 16px 0 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;

    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .photo-grid {
        margin: 88px 24px 0 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photo-grid {
        margin: 92px 48px 0 48px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .photo-grid {
        margin: 92px 48px 0 48px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
}