.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    gap: 12px;
    margin: 64px 16px 0 16px;

}

@media screen and (min-width: 426px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: 88px 24px 0 24px;
    }
}

@media screen and (min-width: 769px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        margin: 92px 48px 0 48px;
    }
}

@media screen and (min-width: 1025px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}