.places {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 321px) {
    .places {
        margin: 88px auto 0 auto;
    }
}

@media screen and (min-width: 601px) {
    .places {
        margin: 88px 0 0 0;
    }
}


@media screen and (min-width: 769px) {
    .places {
        margin: 92px 0 0 0;
    }
}
