.places {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 321px) and (max-width: 600px) {
    .places {
        margin: 88px auto 0 auto ;
    }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
    .places {
        margin: 88px 0 0 0 ;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .places {
        margin: 92px 0 0 0 ;
    }
}


@media screen and (min-width: 1025px) {
    .places {
        margin: 92px 0 0 0  ;
    }
}