.lead {
  margin: 0 auto;
  margin: 56px 0 0 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}



@media screen and (max-width: 320px) {
  .lead {
    margin: 48px 0 0 0;

  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead {
    margin: 48px 0 0 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead {
    margin: 48px 0 0 0;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .lead {
    margin: 56px 0 0 0;
  }
}