.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
    margin: 32px auto 0 auto;
    text-align: center;
    
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */
        margin: 16px 16px 0 16px;
    }


}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .cover__subtitle {
        font-weight: 900;
        font-size: 42px;
        line-height: 110%;

    }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__subtitle {
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;


    }
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .cover__subtitle {
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;

    }
}