.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
    margin: 32px auto 0 auto;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;

}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */
        margin: 16px 16px 0 16px;
    }


}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .cover__subtitle {

        margin: 32px 204px 0 204px;
    }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__subtitle {


        margin: 32px 332px 0 332px;


    }
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .cover__subtitle {

        margin: 32px 412px 0 412px;
    }
}