.header {
  
    /* при АВТО он растягивается, потом буду доделывать под разные варианты окон */
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 28px 48px 0 48px;
}


@media screen and (max-width: 320px) {
    .header  {
        margin: 16px 16px 0 16px ;
        
    }
  }
  @media screen and (min-width: 321px) and (max-width: 768px) {
    .header  {
        margin: 28px 24px 0 24px ;               
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .header  {
        margin: 28px 48px 0 48px ;
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    .header  {
        margin: 28px 48px 0 48px ;
    }
  }

