.footer__link {
    display:flex ;
    margin: 0 auto 32px 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    flex-direction: column;
}

.footer__link:hover {
    opacity: 0.8;
}
.footer__link:last-child{
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .footer__link {
        margin: 0 0 0 18px;
        line-height: 112%;
        font-size: 16px;
    }

    .footer__link:first-child {
        margin-left: 0;
    }
}


