.overlay {
    width: 100%;
    height: 740px;
    margin: 0;
    position: absolute;
    z-index: 1;
    background: #2A2C2F;
    opacity: 0.3;
}


@media screen and (max-width: 320px) {
    .overlay {
        height: 200px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .overlay {
        height: 480px;
    }
}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .overlay {
        height: 640px;

    }
}


@media screen and (min-width: 1025px) {
    .overlay {
        height: 740px;
        max-width: 1184px;

    }
}