.lead__title {
  display: flex;
  font-weight: 900;
  margin: 0 16px 0 16px;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  box-sizing: border-box;

}

@media screen and (min-width: 501px) {
  .lead__title {
    margin: 0 20px 0 20px;
    font-size: 60px;
    line-height: 104%;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    margin: 0 24px 0 24px;
    font-size: 96px;


  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    margin: 0 152px 0 152px;

  }
}
@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 0 280px 0 280px;

  }
}