.footer__copyright {
    color: white;
    margin: 48px auto 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
}



@media screen and (min-width: 768px) {
    .footer__copyright {
        margin: auto 0 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .footer__copyright {
        margin: 0 0 0 auto;
        
    }
}