.medium-title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: white;
    margin: 0;
}


@media screen and (max-width: 320px) {
    .medium-title {
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
        /* or 109% */
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .medium-title {
        font-weight: 900;
        font-size: 54px;
        line-height: 107%;
        /* identical to box height, or 107% */
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .medium-title {
        font-weight: 900;
        font-size: 54px;
        line-height: 107%;
        /* identical to box height, or 107% */
        
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .medium-title {
        font-weight: 900;
        font-size: 54px;
        line-height: 107%;
        
    }
}