.intro {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: flex-start;
    /* background-color: darkcyan; */
    margin: 64px 16px 0 16px;
    
}



@media screen and (min-width: 321px) {
    .intro {
        margin: 88px 24px 0 24px;
    }
}

@media screen and (min-width: 769px) {
    .intro {
        margin: 92px auto 0 48px;
        max-width: 690px;
    }
}

@media screen and (min-width: 1025px) {
    .intro {
        margin: 92px auto 0 148px;
    }
}