.cover {
    width: 100%;
    min-height: 740px;
    margin: 92px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../../images/trains-on-sunrise.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    z-index: 0;

}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 44, 47);
    opacity: 0.3;
    z-index: -1;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        margin: 66px 0 0 0;
    }


}

@media screen and (min-width: 321px) {
    .cover {
        min-height: 480px;
        margin: 90px 0 0 0;

    }

}



@media screen and (min-width: 769px) {
    .cover {
        min-height: 640px;
        margin: 92px 0 0 0;

    }
}


@media screen and (min-width: 1025px) {
    .cover {
        max-width: 1184px;
        min-height: 740px;
        margin: 92px auto 0 auto;

    }
}