.cover {
    width: 100%;
    height: 740px;
    margin: 92px auto 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/trains-on-sunrise.png);
    background-size: cover;
    box-sizing: border-box;

}

@media screen and (max-width: 320px) {
    .cover {
        height: 200px;
        margin: 66px 0 0 0;
    }


}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .cover {
        height: 480px;
        margin: 90px 0 0 0;

    }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover {
        height: 640px;
        margin: 92px 0 0 0;

    }
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .cover {
        width: 1184px;
        height: 740px;
        margin: 92px auto 0 auto;

    }
}