.paragraph {
    display: flex;
    margin: 0 auto 26px 0;
    color: white;
}

.paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        margin: 0 auto 25px 0;
    }


}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        margin: 0 auto 25px 0;
    }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .paragraph {
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
        margin: 0 auto 27px 0;

    }
}


@media screen and (min-width: 1025px) {
    .paragraph {
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;

    }
}