.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;


}

@media screen and (max-width: 767px) {
    .footer__nav {
        flex-direction: column;
        
    }
}
