.cover__title {
    display: flex;
    text-align: center;
    margin: 245px auto 0 auto;
    justify-content: center;
    z-index: 3;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
        margin: 33px 16px 0 16px;
        justify-content: center;
    }


}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .cover__title {
        margin: 115px 104px 0 104px;

    }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__title {
        margin: 195px 232px 0 232px;

    }
}


@media screen and (min-width: 1025px) {
    .cover__title {
        
        margin: 245px 312px 0 312px;
    }
}