.cover__title {
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 2;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    margin: 0 16px;
    color: white;
    max-width: 100%;
   

}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 106%;
        margin: 0 auto;
        max-width: 560px;
    }
}