.cover__title {
    display: flex;
    text-align: center;
    margin: 0 ;
    justify-content: center;
    z-index: 3;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: white;
}

@media screen and (max-width: 500px) {
    .cover__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
        margin: 33px 16px 0 16px;
        justify-content: center;

    }
}

@media screen and (min-width: 501px) {
    .cover__title {
        font-weight: 900;
        font-size: 62px;
        line-height: 109%;
        justify-content: center;
    }
}



