.grid-image {}


@media screen and (max-width: 320px) {
    .grid-image {
        width: 288px;
        height: 216px;

    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .grid-image {
        width: 352px;
        height: 264px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .grid-image {
        width: 300px;
        height: 225px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .grid-image {
        width: 284px;
        height: 213px;
    }
}