.place {
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    grid-template-columns: 320px;
    grid-template-rows: auto;
    row-gap: 32px;
    margin: 50px auto 0 auto;
    
}

.place:first-child {
    margin-top: 64px;
}




@media screen and (min-width: 501px) {
    .place {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 28px;
        row-gap: 48px;
        margin: 73px 24px 0 24px;
    }

    .place:first-child {
        margin-top: 0;
    }
}



@media screen and (min-width: 769px) {
    .place {
        grid-template-columns: 440px auto;
        column-gap: 32px;
        margin: 80px 48px 0 48px;
    }
}


@media screen and (min-width: 1025px) {
    .place {
        grid-template-columns: 460px auto;
        column-gap: 40px;
        margin: 80px 148px 0 148px;
    }
}