.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    

}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        max-width: 100%;
        margin: 64px auto 24px 16px;
        min-height: 310px;
    }
}

@media screen and (min-width: 601px) {
    .footer {
        max-width: 720px;
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (min-width: 901px) {
    .footer {
        max-width: 928px;
        margin: 92px 48px 24px 48px;

    }
}


@media screen and (min-width: 1025px) {
    .footer {
        max-width: 1184px;
    }
}