.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    /* background-color: violet; */

}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        width: 186px;
        margin: 64px auto 24px 16px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .footer {
        width: 720px;
        margin: 88px 24px 24px 24px;

    }
}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
        width: 928px;
        margin: 92px 48px 24px 48px;

    }
}


@media screen and (min-width: 1025px)  {
    .footer {
        width: 1184px;
        margin: 92px 48px 24px 48px;
    }
}