.intro__title {
    display: flex;
    color: white;
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
}




@media screen and (min-width: 321px) {
    .intro__title {
        font-size: 54px;
        line-height: 107%;
        /* identical to box height, or 107% */
    }
}